@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Components */

@import url('components/input.css');
@import url('components/button.css');

/* Pages */

@import url('pages/auth.css');

:root {
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    --color-blue: rgb(30, 136, 229);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
}

body {
    font-family: 'Raleway', 'Inter', sans-serif;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
}