<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет | Glacial Airlines</title>
    <link rel="stylesheet" th:href="@{/dist/index.css}">
    <script th:src="@{/dist/index.js}"></script>
</head>
<body>
    <header th:replace="~{fragments/common.html :: header}"></header>

    <div class="wrapper booking">
        <div class="content-wrapper booking account">
            <div class="greeting-message booking-section">
                <span class="text" th:text="|С возвращением, ${userAccount.firstName}|"></span>
            </div>
            
            <div class="passenger-card-container booking-section" th:insert="~{fragments/account.html :: passenger-card(${userAccount})}"></div>

            <div class="tabs-container booking-section">
                <div class="tabs">
                    <a class="tab" th:href="@{/account}" th:classappend="${activeTab == 'orders' ? 'active' : ''}">Мои заказы</a>
                    <a class="tab" th:href="@{/account/documents}" th:classappend="${activeTab == 'documents' ? 'active' : ''}">Профиль и документы</a>
                    <a class="tab" th:href="@{/account/history}" th:classappend="${activeTab == 'history' ? 'active' : ''}">История миль</a>
                </div>
            </div>

            <th:block th:if="${activeTab == 'orders'}">
                <div th:if="${not #lists.isEmpty(bookingOrders)}" class="order-cards-container booking-section">
                    <div class="order-cards">
                        <th:block th:each="userOrder : ${bookingOrders}">
                            <div th:replace="~{fragments/account.html :: order-card(${userOrder})}"></div>
                        </th:block>
                    </div>
                </div>

                <th:block th:if="${#lists.isEmpty(bookingOrders)}">
                    <div th:replace="~{fragments/booking.html :: no-content-section('У вас нет активных заказов. Пожалуйста, перейдите на главную страницу для поиска билетов..')}"></div>
                </th:block>
            </th:block>

            <div th:if="${activeTab == 'documents'}" class="document-group-container booking-section">
                    <form th:action="@{/account/save-passenger}" th:object="${createPassengerDto}" method="post" id="saveForm">
                        <div th:if="${param.saved}" class="information-note green">
                            Данные о пассажире успешно сохранены.
                        </div>

                        <div th:if="${param.deleted}" class="information-note green">
                            Данные о пассажире успешно удалены.
                        </div>

                        <div th:if="${param.saved == null && param.deleted == null}" class="information-note">
                            Данные из этих форм будут автоматически вставлены при заказе. Чтобы не использовать автозаполнение, оставьте поля пустыми.
                        </div>

                        <div th:replace="~{fragments/account.html :: documents-form-group}"></div>
                    </form>

                    <div class="form-buttons">
                        <form th:action="@{/account/delete-passenger}" method="post">
                            <button type="submit" class="outline-button">Удалить данные пассажира</button>
                        </form>
                        <input type="submit" value="Сохранить" form="saveForm" class="outline-button">
                    </div>

            </div>

            <th:block th:if="${activeTab == 'history'}">
                <div th:if="${not #lists.isEmpty(userAccount.loyaltyAccount.transactions)}"  class="miles-history-container booking-section">
                    <th:block th:each="transaction : ${userAccount.loyaltyAccount.transactions}">
                        <div th:replace="~{fragments/account.html :: miles-transaction-row(${transaction})}"></div>
                    </th:block>
                </div>

                <th:block th:if="${#lists.isEmpty(userAccount.loyaltyAccount.transactions)}">
                    <div th:replace="~{fragments/booking.html :: no-content-section('Здесь будут отображаться транзакции миль по вашим заказам...')}"></div>
                </th:block>
            </th:block>

        </div>
    </div>

    <footer th:replace="~{fragments/common.html :: footer}"></footer>
</body>
</html>