<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет | Glacial Airlines</title>
    <link rel="stylesheet" th:href="@{/dist/index.css}">
</head>
<body>
    <header th:replace="~{fragments/common.html :: header}"></header>

    <div class="wrapper booking">
        <div class="content-wrapper booking account">
            <div class="greeting-message booking-section">
                <span class="text">Добрый вечер, _____</span>
            </div>
            
            <div class="passenger-card-container booking-section" th:insert="~{fragments/account.html :: passenger-card}"></div>

            <div class="tabs-container booking-section">
                <div class="tabs">
                    <a class="tab" th:href="@{/account}" th:classappend="${activeTab == 'orders' ? 'active' : ''}">Мои заказы</a>
                    <a class="tab" th:href="@{/account/documents}" th:classappend="${activeTab == 'documents' ? 'active' : ''}">Профиль и документы</a>
                    <a class="tab" th:href="@{/account/history}" th:classappend="${activeTab == 'history' ? 'active' : ''}">История миль</a>
                </div>
            </div>

            <div th:if="${activeTab == 'orders'}" class="order-cards-container booking-section">
                <div class="order-cards">
                    <div th:replace="~{fragments/account.html :: order-card}"></div>
                </div>
            </div>

            <div th:if="${activeTab == 'documents'}" class="document-group-container booking-section">
                <div class="information-note">
                    Данные из этих форм будут автоматически вставлены при заказе. Чтобы не использовать автозаполнение, оставьте поля пустыми.
                </div>

                <div th:replace="~{fragments/account.html :: documents-form-group}"></div>

                <div class="form-buttons">
                    <input type="reset" value="Очистить" class="outline-button">
                    <input type="submit" value="Сохранить" class="outline-button">
                </div>
            </div>

            <div th:if="${activeTab == 'history'}" class="miles-history-container booking-section">
                <div th:replace="~{fragments/account.html :: miles-transaction-row}"></div>
                <div th:replace="~{fragments/account.html :: miles-transaction-row}"></div>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/common.html :: footer}"></footer>
</body>
</html>