<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бронирование — Успешная оплата | Glacial Airlines</title>
    <link rel="stylesheet" th:href="@{/dist/index.css}">
</head>
<body>
    <header th:replace="~{fragments/common.html :: header}"></header>

    <div class="wrapper success">
        <div class="content-wrapper">
            <div class="success-content booking-section">
                <div class="message-block">
                    <div class="success-icon"></div>
                    <div class="text">
                        <p class="title">Оплата прошла успешно</p>
                        <p class="subtitle">Вы можете скачать маршрутную квитанцию здесь или в личном кабинете.</p>
                    </div>
                </div>

                <div class="navigation-buttons">
                    <a th:href="@{/account}" class="outline-button">Перейти в личный кабинет</a>
                    <a th:href="@{/}" class="outline-button">На главную</a>
                    <a class="outline-button">Скачать квитанцию</a>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/common.html :: footer}"></footer>
</body>
</html>