<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<body>
    <form th:fragment="booking-search-form(sourcePage)" class="booking-search-form" th:action="@{/search}" th:object="${searchRequestDto}" method="get">
        <input type="hidden" id="source" name="source" th:value="${sourcePage}"/>

        <div th:if="${#fields.hasGlobalErrors()}" class="global-error-container">
            <p th:each="error : ${#fields.globalErrors()}" th:text="${error}" class="global-error"></p>
        </div>

        <div th:if="${param.sessionExpired}" class="global-error-container">
            <p class="global-error">Сессия истекла, начните поиск заново</p>
        </div>

        <div th:if="${param.bookingOrderExpired}" class="global-error-container">
            <p class="global-error">Вы оформляли заказ слишком долго, данные могли устареть, начните поиск заново</p>
        </div>

        <div class="inputs-container">
            <div class="input-wrapper left" th:classappend="${#fields.hasErrors('outboundAirportId')} ? 'error'"
                 th:data-title="${#fields.hasErrors('outboundAirportId')} ? ${#fields.errors('outboundAirportId').get(0)} : 'Аэропорт отправления'">
                <input class="search-input visible-input" id="from-visible" type="text" readonly data-popup="city-select" data-target="outboundAirportId" placeholder="Откуда">
                <input th:field="*{outboundAirportId}" id="outboundAirportId" type="hidden">
            </div>

            <div class="input-wrapper" th:classappend="${#fields.hasErrors('returnAirportId')} ? 'error'"
                 th:data-title="${#fields.hasErrors('returnAirportId')} ? ${#fields.errors('returnAirportId').get(0)} : 'Аэропорт прибытия'">
                <input class="search-input visible-input" type="text" readonly id="to-visible" data-popup="city-select" data-target="returnAirportId" placeholder="Куда">
                <input th:field="*{returnAirportId}" id="returnAirportId" type="hidden">
            </div>

            <div class="input-wrapper" th:classappend="${#fields.hasErrors('outboundFlightDate')} ? 'error'"
                 th:data-title="${#fields.hasErrors('outboundFlightDate')} ? ${#fields.errors('outboundFlightDate').get(0)} : 'Туда'">
                <input class="search-input date" type="date" th:field="*{outboundFlightDate}"
                    th:attr="min=${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd')},
                             max=${#temporals.format(#temporals.createNow().plusMonths(2), 'yyyy-MM-dd')}">
            </div>

            <div class="input-wrapper" th:classappend="${#fields.hasErrors('returnFlightDate')} ? 'error'"
                 th:data-title="${#fields.hasErrors('returnFlightDate')} ? ${#fields.errors('returnFlightDate').get(0)} : 'Обратно'">
                <input class="search-input date" type="date" th:field="*{returnFlightDate}"
                    th:attr="min=${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd')},
                             max=${#temporals.format(#temporals.createNow().plusMonths(2), 'yyyy-MM-dd')}">
            </div>

            <div class="input-wrapper right" th:classappend="${#fields.hasErrors('adultsCount')} ? 'error'"
                 th:data-title="${#fields.hasErrors('adultsCount')} ? ${#fields.errors('adultsCount').get(0)} : 'Количество пассажиров, класс полёта'">
                <input class="search-input visible-input passengers" readonly type="text" id="passengers-count-visible" placeholder="Количество пассажиров" value="1 Пассажир">
                <input type="hidden" th:field="*{adultsCount}" id="adults">
                <input type="hidden" th:field="*{childrenCount}" id="children">
            </div>
        </div>

        <div class="bottom-row">
            <div class="miles-checkbox-container" sec:authorize="isAuthenticated()">
                <input type="checkbox" th:field="*{milesIncluded}" id="pay-with-miles">
                <label for="pay-with-miles">Оплатить милями</label>
            </div>

            <div class="miles-checkbox-container" sec:authorize="isAnonymous()">
                <input type="checkbox" title="Войдите в аккаунт, чтобы потратить мили" id="pay-with-miles-disabled" disabled >
                <label for="pay-with-miles-disabled">Оплатить милями (войдите в аккаунт)</label>
            </div>
            
            <input type="submit" value="Поиск рейсов" class="default-button">
        </div>

        <div class="booking-form-popup city-select-popup">
            <p class="popup-title">Список городов</p>
            
            <ul class="destinations">
                <li class="row" th:each="airport: ${airports}" th:attr="data-airport-id=${airport.id}">
                    <span class="city" th:text="${airport.city}"></span>
                    <span class="airport" th:text="${airport.iataCode}"></span>
                </li>
            </ul>
        </div>

        <div class="booking-form-popup passengers-popup">
            <div class="rows">
                <div class="passenger-row adult">
                    <div class="text-content">
                        <p class="group-title">Взрослые</p>
                        <p class="subtitle">12 лет и старше</p>
                    </div>

                    <div class="counter">
                        <div class="minus-button"></div>
                        <span class="count" id="adult-passenger-count">1</span>
                        <div class="plus-button"></div>
                    </div>
                </div>

                <div class="passenger-row child">
                    <div class="text-content">
                        <p class="group-title">Дети</p>
                        <p class="subtitle">До 12 лет</p>
                    </div>

                    <div class="counter">
                        <div class="minus-button"></div>
                        <span class="count" id="child-passenger-count">0</span>
                        <div class="plus-button"></div>
                    </div>
                </div>
            </div>

            <div class="class-toggle">
                <input type="radio" th:field="*{serviceClass}" id="economy" value="ECONOMY" checked>
                <label for="economy">Эконом</label>

                <input type="radio" th:field="*{serviceClass}" id="business" value="BUSINESS">
                <label for="business">Бизнес</label>
            </div>
        </div>
    </form>

    <div th:fragment="cheapest-flight-info-block(title, flightRoute, minPrice)" class="cheapest-flight-info-block">
        <div class="content">
            <div class="left-side">
                <p class="title" th:text="${title}"></p>
                <p class="flight-route" th:text="${flightRoute}"></p>
            </div>
            <div class="right-side">
                <div class="offered-lowest-price">
                    <p class="description"
                       th:with="totalPassengers=${searchRequestDto.adultsCount + searchRequestDto.childrenCount}"
                       th:text="|Самая низкая суммарная стоимость для ${totalPassengers} ${totalPassengers == 1 ? 'Пассажира:' : 'Пассажиров:'}|">
                    </p>
                    <p class="price" th:text="|${#numbers.formatInteger(minPrice, 1)} RUB|"></p>
                </div>
                <p class="offer-note">Включая тариф, налоги, пошлины и сборы перевозчика</p>
            </div>
        </div>
    </div>

    <div th:fragment="offer-cards-filters" class="offer-cards-filters">
        <p class="title">Сортировать по:</p>

        <div class="filter-buttons">
            <a class="filter-button" data-filter="price"
                th:classappend="${filter == 'price'} ? 'active' : ''">Цена</a>
            <a class="filter-button" data-filter="duration"
               th:classappend="${filter == 'duration'} ? 'active' : ''">Длительность</a>
            <a class="filter-button" data-filter="departureTime"
               th:classappend="${filter == 'departureTime'} ? 'active' : ''">Время вылета</a>
            <a class="filter-button" data-filter="arrivalTime"
               th:classappend="${filter == 'arrivalTime'} ? 'active' : ''">Время прибытия</a>
        </div>
    </div>

    <div th:fragment="flight-segment(flightOffer)" class="flight-segment">
        <div class="row first">
            <span class="time departure" title="Локальное время аэропорта отправления" th:text="${#temporals.format(flightOffer.departureTime, 'HH:mm')}"></span>

            <div class="route">
                <span class="airport-code departure" th:text="${flightOffer.departureIataCode}"></span>
                <div class="line"></div>
                <span class="airport-code arrival" th:text="${flightOffer.arrivalIataCode}"></span>
            </div>

            <span class="time arrival" title="Локальное время аэропорта прибытия"  th:text="${#temporals.format(flightOffer.arrivalTime, 'HH:mm')}"></span>
        </div>

        <div class="row second">
            <span class="text date departure" th:text="${#temporals.format(flightOffer.departureTime, 'd MMMM, E')}"></span>
            <span class="text travel-time"
                  th:text="|в пути ${flightOffer.flightDuration.toHours()}ч ${flightOffer.flightDuration.toMinutesPart()}м|">
            </span>
            <span class="text date arrival" th:text="${#temporals.format(flightOffer.arrivalTime, 'd MMMM, E')}"></span>
        </div>
    </div>

    <div th:fragment="flight-offer-card (flightOffer, action, buttonLabel)" class="flight-offer-card">
        <div class="item" th:insert="~{fragments/booking.html :: flight-segment(${flightOffer})}"></div>

        <div class="item price-and-loyalty-program">
            <p class="price" th:text="|От ${#numbers.formatInteger(flightOffer.totalPrice, 1)} RUB|"></p>

            <div class="loyalty-program">
                <p class="item price-discount" th:text="|Цена с учетом миль: ${#numbers.formatInteger(flightOffer.priceWithMiles, 1)} RUB|"></p>
                <span class="item potential-miles" th:text="|Получите миль: ${#numbers.formatInteger(flightOffer.milesEarned, 1)}|"></span>
            </div>
        </div>

        <div class="item included-tariff-services">
            <div class="included-service aircraft-model">
                <img class="icon" src="/images/icons/booking/aircraft_icon.svg" alt="Aircraft Icon">
                <span class="text" th:text="${flightOffer.aircraftModel}"></span>
                <span class="subtext" th:text="${flightOffer.flightNumber}"></span>
            </div>
            <div class="included-service luggage-size">
                <img class="icon" src="/images/icons/booking/luggage_icon.svg" alt="Luggage Icon">
                <span class="text">23 кг</span>
            </div>
            <div class="included-service seat-select">
                <img class="icon" src="/images/icons/booking/seat_select_icon.svg" alt="Seat Select Icon">
                <span class="text">Бесплатно</span>
            </div>
        </div>

        <a class="item outline-button" th:href="@{${action}}" th:text="${buttonLabel} ?: 'Выбрать'"></a>
    </div>

    <div th:fragment="flight-card-checkout(direction, flightOffer)" class="flight-card-checkout">
        <div class="information-line">
            <div class="direction" th:text="${direction}"></div>
            <div class="route" th:text="${flightOffer.departureCity + ' — ' + flightOffer.arrivalCity}"></div>
            <div class="flight-name" th:text="${flightOffer.flightNumber}"></div>
        </div>

        <div th:replace="~{fragments/booking.html :: flight-segment(${flightOffer})}"></div>
    </div>

    <div th:fragment="passenger-info-checkout(passenger)" class="passenger-info-checkout">
        <div class="info-line">
            <div class="text-left black" th:text="|${passenger.lastName} ${passenger.firstName} ${(passenger.middleName != null) ? passenger.middleName : ''}|"></div>
            <div class="text-right" th:text="|Туда • ${passenger.outboundSeatAvailability != null ? passenger.outboundSeatAvailability.seat.seatNumber : 'Авто'}|"></div>
        </div>
        <div class="info-line">
            <div class="text-left" th:text="${passenger.documentType.getValue() + ' • ' + passenger.documentNumber}"></div>
            <div class="text-right">Обратно • Авто</div>
        </div>
    </div>

    <div th:fragment="step-indicator(activeIndex)" class="step-indicator" 
        th:style="'--active-step: ' + ${activeIndex} + ';'"
        th:with="inscriptions = ${ { 'Рейсы', 'Пассажиры', 'Услуги', 'Оплата' } }">

        <div class="progress-bar"></div>

        <div class="step-items">
            <div th:each="i : ${#numbers.sequence(0, 3)}"
                th:class="${i == activeIndex} ? 'step-item active' : 'step-item'">
                <div class="step"></div>
                <span class="inscription" th:text="${inscriptions[i]}"></span>
            </div>
        </div>
    </div>

    <div th:fragment="seat-group(group)" class="seat-group">
        <div class="title" th:text="${group.title}"></div>

        <div class="rows">
            <th:block th:each="entry : ${group.rows}">
                <div th:replace="~{/fragments/booking.html :: seat-row(
                rowNumber=${entry.key},
                seats=${entry.value}
            )}"></div>
            </th:block>
        </div>
    </div>

    <div th:fragment="seat-row (rowNumber, seats)" class="seat-row">
        <div class="row-number" th:text="${rowNumber}"></div>

        <div class="seat-column">
            <th:block th:each="sa : ${seats}" th:if="${sa.seat.seatLetter == 'A' || sa.seat.seatLetter == 'B' || sa.seat.seatLetter == 'C'}">
                <div th:class="'seat ' +
                (${sa.status.name() == 'AVAILABLE'} ? (${sa.seat.seatClass.name() == 'EMERGENCY'} ? 'emergency' : 'free') : 'taken') +
                (${(bookingOrder.seatClass.name() == 'BUSINESS' && sa.seat.seatClass.name() != 'BUSINESS') ||
                   (bookingOrder.seatClass.name() != 'BUSINESS' && sa.seat.seatClass.name() == 'BUSINESS')} ? ' disabled' : '')"
                     th:attr="data-seat-id=${sa.id}, data-seat-label=${sa.seat.seatNumber}, data-emergency=${sa.seat.seatClass.name() == 'EMERGENCY'}"
                     th:text="${sa.seat.seatLetter}"></div>
            </th:block>
        </div>
        
        <div class="aisle"></div>
            
        <div class="seat-column">
            <th:block th:each="sa : ${seats}" th:if="${sa.seat.seatLetter == 'D' || sa.seat.seatLetter == 'E' || sa.seat.seatLetter == 'F'}">
                <div th:class="'seat ' +
                (${sa.status.name() == 'AVAILABLE'} ? (${sa.seat.seatClass.name() == 'EMERGENCY'} ? 'emergency' : 'free') : 'taken') +
                (${(bookingOrder.seatClass.name() == 'BUSINESS' && sa.seat.seatClass.name() != 'BUSINESS') ||
                   (bookingOrder.seatClass.name() != 'BUSINESS' && sa.seat.seatClass.name() == 'BUSINESS')} ? ' disabled' : '')"
                     th:attr="data-seat-id=${sa.id}, data-seat-label=${sa.seat.seatNumber}, data-emergency=${sa.seat.seatClass.name() == 'EMERGENCY'}"
                     th:text="${sa.seat.seatLetter}"></div>
            </th:block>
        </div>
    </div>

    <div th:fragment="seat-selection-block (passenger, seatClassName, index)" class="seat-selection-block" th:attr="data-passenger-index=${index}">
        <div class="information-group">
            <div class="text-content">
                <div class="fullname" th:text="|${passenger.lastName} ${passenger.firstName.charAt(0)}.|"></div>
                <div class="flight-class" th:text="${seatClassName}"></div>
            </div>

            <div class="seat-number" th:id="'seat-label-' + ${index}"
                 th:text="${passenger.outboundSeatAvailability != null ? passenger.outboundSeatAvailability.seat.seatNumber : '-'}"></div>
        </div>

        <div class="seat-select-button">
            Изменить место
        </div>
    </div>
</body>
</html>